* { 
	font-family: 'Noto Sans JP', sans-serif !important;
}

body {
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color: black;
}

.container-to-video {
    margin: 50px auto;
    width: 950px;
}

.container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.footer {
	color: rgb(206, 206, 206);
	margin: 10px auto;
	text-align: center;
	width: 100%;
}

#ads-conteiner {
	position: absolute;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: center;
}

#ads-conteiner #ads-box {
	margin: 6em auto;
	color: #999;
	background-color: #4a5464;
	padding: 1em 1em;
	border-radius: 3px;
}

#ads-conteiner #ads-box #ads-img {
	position: relative;
}

#ads-conteiner #ads-close {
	text-align: center;
	width: 60px;
	height: 25px;
	position: relative;
	color: red;
	font-size: 12pt;
	font-weight: 800;
	float: right;
	background-color: black;
	border-radius: 5px;
	left: 10px;
	top: -10px;
	cursor: pointer;
}

#submit-btn {
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 100px;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
}

#submit-btn:disabled {
	cursor: default;
}

#form-btn {
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 500px;
    background-color: white;
    font-weight: 500;
    padding-left: 20px;
}

.tab {
	width: 100%;
	height: auto;
	color: white;
	display: flex;
	
}

ul {
	margin: 0 auto;
	list-style-type: none;
}

ul li {
	font-size: 10pt;
	text-transform: uppercase;
	margin: 15px 0;
}

@media only screen and ( max-width: 700px ) {
    #form-btn {  width: 60%; margin-right: 10px}
    #submit-btn { text-align: center; }
    #ads-conteiner #ads-box { margin: 4em auto; }
    form { width: 100%; display: flex; justify-content: center; }
	.container-to-video { width: 90%;}
	.container{ margin-top: 5em; }
}
